<%-include('header')%>

  <main id="main" class="main">
    <section class="section">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">General Form Update</h5>
  
                <!-- General Form Update -->
                <form class="row g-3 needs-validation" novalidate action="/admin/update/<%=obj.id%>" method="post">
                    <label for="chk" aria-hidden="true">Update</label>
                    <input type="text" name="name" placeholder="User name" value="<%=obj.name%>">
                    <input type="email" name="email" placeholder="Email" value="<%=obj.email%>">
                    <button type="submit">Update</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </section>
  </main>
  <%-include('footer')%>