<%-include('header')%>
<main id="main" class="main">
    <form class="row g-3 needs-validation" novalidate action="/admin/update/<%=obj.id%>" method="post">
        <label for="chk" aria-hidden="true">Update</label>
        <input type="text" name="name" placeholder="User name" value="<%=obj.name%>">
        <input type="email" name="email" placeholder="Email" value="<%=obj.email%>">
        <button type="submit">Update</button>
      </form>
</main>
  <%-include('footer')%>